body{
    background-color: #f7f6f6;
}
.page-heading{
    text-align: center;
    font-size: 32px;
    margin-top: 80px;
    margin-left: 60px;
}
.main-body{
    display: flex;
    flex-direction: row; 
    width: 1000px;
    margin-left: 250px;
}

.about-d{
    width: 800px;
    padding: 5px;
}
.detail2{
    text-align: justify;
    align-items: center;
    margin-top: 60px;
    padding-right:  15px;
}
.parlour-img{
   width: 400px;
   margin-top: 20px;
   padding-left: 10px;
   border: 8px solid #ece6e7;
   box-shadow: 0 0 10px 2px #bab9ba ;
}

.slide-img{
    width: 980px;
    margin: 50px 260px;
    border: 13px solid #ece6e7;
    box-shadow: 0 0 10px 2px #bab9ba ;
}
.review-container{
    width: 600px;
    margin-top: 20px;
    margin-left: 450px;
    background-color: #FFE5E6;
    padding: 25px;
    color: black;
}
.review-logo{
    height: 70px;
    margin-left: 710px;
    background-color: #FFE5E6;
    padding: 10px;
    border-radius: 8px;
}
.customer-name{
    margin-left: 420px;
}
.btn-container{
    width: 250px;
    margin-left: 662px;
    margin-top: 7px;
    padding-bottom: 20px;
    padding-left: 50px;
}
.review-circle{
    height: 20px;
    background-color: #FFE5E6;
    border-radius: 8px;
}


@media (min-width: 500px) and (max-width: 768px){ 
    .main-body{
        display: flex;
        flex-direction: column; 
        width: 500px;
        margin-left: 50px;
    }
    .about-d{
        width: 420px;
        margin-left: 70px;
    }
    .slide-img{
        width: 500px;
        margin: 50px 70px;
    }
    .review-container{
        width: 500px;
        margin-left: 70px;
        padding: 25px;
    }
    .review-logo{
        margin-left: 290px;
        padding: 10px;
    }
    .btn-container{
        margin-left: 240px;
       
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .main-body{
        margin-left: 1px;
    }
    .about-d{
        width: 420px;
        margin-left: 25px;
    }
    .slide-img{
        width: 650px;
        margin: 50px 170px;
    }
    .review-container{
        width: 600px;
        margin-left: 200px;
        padding: 25px;
    }
    .review-logo{
        margin-left: 440px;
        padding: 10px;
    }
    .btn-container{
        margin-left: 400px;
       
    }
}