body{
    background-color: #f7f6f6;
}
.reviewbody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    margin-top: 80px ;
    
}
.container {
     display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
}
    
.card {
    max-width: 33rem;
    background-color:#FFE5E6;
    margin: 50px auto;
    margin-bottom: 110px;
    margin-top: 25px;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgb(86, 85, 85);
    width: 100%;
    border-radius: 0.5rem;
    text-align: center;
}
.card h1{
    font-size: 32px;
    font-weight: bold;
}
.rating{
    text-align: center;
    font-size: 22px ;
}
    
.star {
    height: 70px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
        
.ta{
    padding: 20px 100px;
    margin: 20px;
}
.review_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-bottom: 0;
    font-size: 22px;
    font-weight:bold;       
}
        
.sbtn{
    font-size: 22px ;
    padding: 5px 30px;
    margin: 25px;
    border: none;
    background:#A62C31;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}
