body{
    background-color: #f7f6f6;
}
.main-container{
    margin-top: 80px;
    margin-bottom: 600px;
}
.Body-section{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
}
.section1{
    width: 900px;
    padding: 5px;
    padding: 30px 20px;
}
.section1-text{
    padding: 220px 30px;
}
.btn{
    font-size: 22px ;
    padding: 5px 30px;
    margin: 22px;
    border: none;
    background:#A62C31;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}
.im{
    border-radius: 10px;
}
.section2-heading{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}
.section2-text{
    margin-left: 420px;
    text-align: center;
    width: 700px;
}
.section2{
    margin-top: 40px;
}
.section2-img{
    margin-left: 140px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.img{
    height: 250px;
    margin: 10px 30px;
    border-radius: 10px;
}
.section2-sub{
    display: flex;
    flex-direction: column;
}
.skin-im{
    width: 250px;
}