@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sedan+SC&display=swap');

.sedan-sc-regular {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
}

.custom-navbar{
    background-color: #FEB6B6;
}
.custom-navbar-brand {
    padding-left: 10px;
}

.pg-name{
    padding-left: 170px;
}

.links{
    margin: 0 35px;
    color: #A62C31;
}