.img-div{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
}
#mainProductImage{
    width: 650px;
    height: 450px;
    object-fit: cover;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 450px;
    margin-top: 60px;
    display: block;
}
.product-Images-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}
.product-image{
    height: 70px;
    width: 70px;
    object-fit: cover;
    border: 1px solid #A62C31;
    border-radius: 5px;
    margin-left: 60px;
    margin-bottom: 20px;
    cursor: pointer;
}

.page-heading{
    text-align: center;
    font-size: 32px;
    margin-top: 120px;
    margin-left: 60px;
}
.apointment-d{
    width: 650px;
    margin-left: 460px;
    background-color: #FFE5E6;
    padding: 20px 40px;
    margin-bottom: 40px;
}
#bookBtn{
    margin: 35px 68px;
    width: 70%;
	height: 40px;
	justify-content: center;
	display: block;
	color: white;
	background:#A62C31;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
    border-radius: 20px;
}